<tr>
    <td>@car.Id</td>
    <td>@car.Make</td>
    <td>@car.Model</td>
    <td>@car.Year</td>
    <td>@car.Color</td>
    <td>@car.Price</td>
</tr>

@code {
    [Parameter]
    public ICar car { get; set; }
}
