@if (car is null)
{
    <tr>
        <td colspan="7">No car data</td>
    </tr>
}
else
{

    <tr>
        <td>@car.Id</td>
        <td>@car.Make</td>
        <td>@car.Model</td>
        <td>@car.Year</td>
        <td>@car.Color</td>
        <td>@car.Price</td>
        <td>
            <button type="button" @onclick="SubmitDeleteCar">Delete</button>
        </td>
    </tr>
}

@code {
    [Parameter]
    public ICar? car { get; set; }

    [Parameter]
    public EventCallback<ICar> OnSubmitDeleteCar { get; set; }

    private async Task SubmitDeleteCar()
    {
        await OnSubmitDeleteCar.InvokeAsync(this.car);

    }
}
